'.source.js':

  'Ember.Object':
    'prefix': 'object'
    'body': 'import EmberObject from "@ember/object";'

  'Ember.ObjectProxy':
    'prefix': 'objectProxy'
    'body': 'import ObjectProxy from "@ember/object/proxy";'

  'Ember.Observable':
    'prefix': 'observable'
    'body': 'import Observable from "@ember/object/observable";'

  'Ember.addListener':
    'prefix': 'addListener'
    'body': 'import { addListener } from "@ember/object/events";'

  'Ember.addObserver':
    'prefix': 'addObserver'
    'body': 'import { addObserver } from "@ember/object/observers";'

  'Ember.aliasMethod':
    'prefix': 'aliasMethod'
    'body': 'import { aliasMethod } from "@ember/object";'

  'Ember.computed':
    'prefix': 'computed'
    'body': 'import { computed } from "@ember/object";'

  'Ember.computed.alias':
    'prefix': 'alias'
    'body': 'import { alias } from "@ember/object/computed";'

  'Ember.computed.and':
    'prefix': 'and'
    'body': 'import { and } from "@ember/object/computed";'

  'Ember.computed.bool':
    'prefix': 'bool'
    'body': 'import { bool } from "@ember/object/computed";'

  'Ember.computed.collect':
    'prefix': 'collect'
    'body': 'import { collect } from "@ember/object/computed";'

  'Ember.computed.deprecatingAlias':
    'prefix': 'deprecatingAlias'
    'body': 'import { deprecatingAlias } from "@ember/object/computed";'

  'Ember.computed.empty':
    'prefix': 'empty'
    'body': 'import { empty } from "@ember/object/computed";'

  'Ember.computed.equal':
    'prefix': 'equal'
    'body': 'import { equal } from "@ember/object/computed";'

  'Ember.computed.filter':
    'prefix': 'filter'
    'body': 'import { filter } from "@ember/object/computed";'

  'Ember.computed.filterBy':
    'prefix': 'filterBy'
    'body': 'import { filterBy } from "@ember/object/computed";'

  'Ember.computed.filterProperty':
    'prefix': 'filterProperty'
    'body': 'import { filterProperty } from "@ember/object/computed";'

  'Ember.computed.gt':
    'prefix': 'gt'
    'body': 'import { gt } from "@ember/object/computed";'

  'Ember.computed.gte':
    'prefix': 'gte'
    'body': 'import { gte } from "@ember/object/computed";'

  'Ember.computed.intersect':
    'prefix': 'intersect'
    'body': 'import { intersect } from "@ember/object/computed";'

  'Ember.computed.lt':
    'prefix': 'lt'
    'body': 'import { lt } from "@ember/object/computed";'

  'Ember.computed.lte':
    'prefix': 'lte'
    'body': 'import { lte } from "@ember/object/computed";'

  'Ember.computed.map':
    'prefix': 'map'
    'body': 'import { map } from "@ember/object/computed";'

  'Ember.computed.mapBy':
    'prefix': 'mapBy'
    'body': 'import { mapBy } from "@ember/object/computed";'

  'Ember.computed.mapProperty':
    'prefix': 'mapProperty'
    'body': 'import { mapProperty } from "@ember/object/computed";'

  'Ember.computed.match':
    'prefix': 'match'
    'body': 'import { match } from "@ember/object/computed";'

  'Ember.computed.max':
    'prefix': 'max'
    'body': 'import { max } from "@ember/object/computed";'

  'Ember.computed.min':
    'prefix': 'min'
    'body': 'import { min } from "@ember/object/computed";'

  'Ember.computed.none':
    'prefix': 'none'
    'body': 'import { none } from "@ember/object/computed";'

  'Ember.computed.not':
    'prefix': 'not'
    'body': 'import { not } from "@ember/object/computed";'

  'Ember.computed.notEmpty':
    'prefix': 'notEmpty'
    'body': 'import { notEmpty } from "@ember/object/computed";'

  'Ember.computed.oneWay':
    'prefix': 'oneWay'
    'body': 'import { oneWay } from "@ember/object/computed";'

  'Ember.computed.or':
    'prefix': 'or'
    'body': 'import { or } from "@ember/object/computed";'

  'Ember.computed.readOnly':
    'prefix': 'readOnly'
    'body': 'import { readOnly } from "@ember/object/computed";'

  'Ember.computed.reads':
    'prefix': 'reads'
    'body': 'import { reads } from "@ember/object/computed";'

  'Ember.computed.setDiff':
    'prefix': 'setDiff'
    'body': 'import { setDiff } from "@ember/object/computed";'

  'Ember.computed.sort':
    'prefix': 'sort'
    'body': 'import { sort } from "@ember/object/computed";'

  'Ember.computed.sum':
    'prefix': 'sum'
    'body': 'import { sum } from "@ember/object/computed";'

  'Ember.computed.union':
    'prefix': 'union'
    'body': 'import { union } from "@ember/object/computed";'

  'Ember.computed.uniq':
    'prefix': 'uniq'
    'body': 'import { uniq } from "@ember/object/computed";'

  'Ember.computed.uniqBy':
    'prefix': 'uniqBy'
    'body': 'import { uniqBy } from "@ember/object/computed";'

  'Ember.copy':
    'prefix': 'copy'
    'body': 'import { copy } from "@ember/object/internals";'

  'Ember.create':
    'prefix': 'polyfillCreate'
    'body': 'import { create } from "@ember/polyfills";'

  'Ember.defineProperty':
    'prefix': 'objecDefineProperty'
    'body': 'import { defineProperty } from "@ember/object";'

  'Ember.get':
    'prefix': 'getter'
    'body': 'import { get } from "@ember/object";'

  'Ember.getProperties':
    'prefix': 'getProperties'
    'body': 'import { getProperties } from "@ember/object";'

  'Ember.getWithDefault':
    'prefix': 'getWithDefault'
    'body': 'import { getWithDefault } from "@ember/object";'

  'Ember.guidFor':
    'prefix': 'guidFor'
    'body': 'import { guidFor } from "@ember/object/internals";'

  'Ember.observer':
    'prefix': 'observer'
    'body': 'import { observer } from "@ember/object";'

  'Ember.on':
    'prefix': 'on'
    'body': 'import { on } from "@ember/object/evented";'

  'Ember.removeListener':
    'prefix': 'removeListener'
    'body': 'import { removeListener } from "@ember/object/events";'

  'Ember.removeObserver':
    'prefix': 'removeObserver'
    'body': 'import { removeObserver } from "@ember/object/observers";'

  'Ember.sendEvent':
    'prefix': 'sendEvent'
    'body': 'import { sendEvent } from "@ember/object/events";'

  'Ember.set':
    'prefix': 'setter'
    'body': 'import { set } from "@ember/object";'

  'Ember.setProperties':
    'prefix': 'setProperties'
    'body': 'import { setProperties } from "@ember/object";'

  'Ember.trySet':
    'prefix': 'trySet'
    'body': 'import { trySet } from "@ember/object";'

  'Ember.ComputedProperty':
    'prefix': 'computedProperty'
    'body': 'import ComputedProperty from "@ember/object/computed";'

  'Ember.CoreObject':
    'prefix': 'coreObject'
    'body': 'import CoreObject from "@ember/object/core";'

  'Ember.Evented':
    'prefix': 'evented'
    'body': 'import Evented from "@ember/object/evented";'

  'Ember.Mixin':
    'prefix': 'mixin'
    'body': 'import Mixin from "@ember/object/mixin";'

  'Ember.PromiseProxyMixin':
    'prefix': 'promiseProxyMixin'
    'body': 'import PromiseProxyMixin from "@ember/object/promise-proxy-mixin";'

  'Ember.cacheFor':
    'prefix': 'cacheFor'
    'body': 'import { cacheFor } from "@ember/object/internals";'
