'.source.js':

  'Ember.AutoLocation':
    'prefix': 'autoLocation'
    'body': 'import AutoLocation from "@ember/routing/auto-location";'

  'Ember.HashLocation':
    'prefix': 'routingHash'
    'body': 'import HashLocation from "@ember/routing/hash-location";'

  'Ember.HistoryLocation':
    'prefix': 'routingHistory'
    'body': 'import HistoryLocation from "@ember/routing/history-location";'

  'Ember.LinkComponent':
    'prefix': 'linkComponent'
    'body': 'import LinkComponent from "@ember/routing/link-component";'

  'Ember.Location':
    'prefix': 'location'
    'body': 'import Location from "@ember/routing/location";'

  'Ember.NoneLocation':
    'prefix': 'noneLocation'
    'body': 'import NoneLocation from "@ember/routing/none-location";'

  'Ember.Route':
    'prefix': 'route'
    'body': 'import Route from "@ember/routing/route";'

  'Ember.Router':
    'prefix': 'router'
    'body': 'import Router from "@ember/routing/router";'
